@import "tailwindcss";

@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* fonts */
  --font-plex: "IBM Plex Mono", monospace;
  --font-geist: "Geist", sans-serif;

  /* colors */
  --color-primary: #ff788c; /*cmyk(0%, 53%, 45%, 0%); /*oklch(86.89 0.29 142.02); /* #27FF0B*/
  --color-background: oklch(99.7 0 0); /* #fefefe */
  --color-foreground: oklch(0 0 0); /* #000000 */
  --color-secondary: oklch(0.38 0 1); /* #434343*/
}

.heading {
  @apply font-plex tracking-[-2%] font-bold;
}

html {
  @apply scroll-smooth;
}

body {
  @apply font-geist text-foreground bg-background;
}

article {
  @apply prose prose-neutral prose-img:mx-auto prose-img:my-auto text-lg leading-8;
  @apply prose-headings:font-bold prose-headings:font-plex prose-headings:text-foreground mx-auto;
  @apply text-secondary prose-a:underline-offset-2;
}
