<section id="About" class="container mx-auto mb-28 p-6">
    <h2 class="heading text-5xl md:text-9xl uppercase">About me</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 items-center md:p-0 gap-8">
        <div class="space-y-6">
            <div
                class="w-full aspect-[668/516] md:max-w-[668px] overflow-hidden rounded-3xl"
            >
                <img
                    src="/portrait.webp"
                    alt="About Me Image"
                    class="w-full h-full object-cover"
                />
            </div>
        </div>

        <div>
            <div class="text-lg md:text-2xl text-secondary space-y-4">
                <p>
                    I'm a full-stack developer with a strong focus on building
                    fast, accessible, and maintainable web applications. Over
                    the past 6 years, I’ve worked on high-traffic production
                    systems, internal tools for startups, and indie products
                    used by thousands.
                </p>
                <p>
                    I specialize in JavaScript, TypeScript, and modern
                    frameworks like Astro, React, and Svelte — but I’m most
                    passionate about writing clean, resilient code that scales.
                </p>
            </div>
            <div>
                <h3 class="heading text-2xl uppercase my-8 text-secondary">
                    My Skills
                </h3>
                <div class="flex flex-wrap gap-4 mt-8">
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1 outline-dashed outline-secondary"
                    >
                        Power BI
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1 outline-dashed outline-secondary"
                    >
                        Tableau
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1 outline-dashed outline-secondary"
                    >
                        Javascript
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1 outline-dashed outline-secondary"
                    >
                        QlikSense
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1 outline-dashed outline-secondary"
                    >
                        D3
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1 outline-dashed outline-secondary"
                    >
                        Highcharts
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1 outline-dashed outline-secondary"
                    >
                        Grafana
                    </span>

                </div>
            </div>
        </div>
    </div>
</section>
