---
import { SOCIALS } from "@consts";
---

<section id="Contact" class="container mx-auto px-6 pt-18">
  <h2 class="heading text-5xl md:text-9xl uppercase mr-4 md:mr-8 my-8">
    Contact
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-8">
    <div class="space-y-6">
      <p class="text-xl lg:text-3xl max-w-xl">
        Got an idea? A problem? Send me a message, or connect online.
      </p>

      <div class="text-xl space-y-2">
        {
          SOCIALS.map((link) => (
            <p>
              <a
                href={link.HREF}
                target="_blank"
                class="underline hover:text-secondary transition"
              >
                {link.NAME}
              </a>
            </p>
          ))
        }
      </div>
    </div>

    <form class="space-y-6" netlify>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
        <div class="relative">
          <input
            type="text"
            id="name"
            name="name"
            class="peer border border-secondary border-dashed p-4 rounded-3xl text-xl w-full placeholder-transparent w-full
             px-2.5 pt-4 border-1
            appearance-none focus:outline-none focus:ring-0 focus:border-brand"
            placeholder=" "
          />
          <label
            for="name"
            class="absolute left-4 top-1 text-xl text-body text-gray-500 duration-300 transform -translate-y-4 scale-75 z-10 origin-[0] bg-background px-2
            peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2
            peer-focus:top-1 peer-focus:scale-75 peer-focus:-translate-y-4 peer-focus:px-2"
            >Name</label
          >
        </div>

        <div class="relative">
          <input
            type="text"
            id="email"
            name="email"
            class="peer border border-secondary border-dashed p-4 rounded-3xl text-xl w-full placeholder-transparent w-full
             px-2.5 pt-4 border-1
            appearance-none focus:outline-none focus:ring-0 focus:border-brand"
            placeholder=" "
          />
          <label
            for="email"
            class="absolute left-4 top-1 text-xl text-body text-gray-500 duration-300 transform -translate-y-4 scale-75 z-10 origin-[0] bg-background px-2
            peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2
            peer-focus:top-1 peer-focus:scale-75 peer-focus:-translate-y-4 peer-focus:px-2"
            >Email</label
          >
        </div>
      </div>

      <div class="relative">
         <textarea
            id="message"
            rows="6"
            name="message"
            class="peer border border-secondary border-dashed p-4 rounded-3xl text-xl w-full placeholder-transparent w-full
             px-2.5 pt-4 border-1
            appearance-none focus:outline-none focus:ring-0 focus:border-brand"
            placeholder=" "
          />
          <label
            for="message"
            class="absolute left-4 top-1 text-xl text-body text-gray-500 duration-300 transform -translate-y-4 scale-75 z-10 origin-[0] bg-background px-2
            peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-8
            peer-focus:top-1 peer-focus:scale-75 peer-focus:-translate-y-4 peer-focus:px-2"
            >Message</label
          >
      </div>


   

      <button
        type="submit"
        class="flex items-center justify-center bg-primary rounded-2xl py-3 px-6 sm:py-4 sm:px-10 cursor-pointer hover:bg-background hover:outline hover:outline-1 hover:outline-dashed hover:outline-secondary hover:text-foreground transition"
      >
        Send Message
      </button>
    </form>
  </div>
  <div><p>&nbsp;</p></div>
</section>
