---
import Card from "./Card.astro";

import { getCollection, type CollectionEntry } from "astro:content";

const allProjects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
).slice(0, 3);
---

<section id="Projects" class="container mx-auto px-6">
  <div class="overflow-hidden mb-12">
    <div class="flex ">
      <div class="flex shrink-0 whitespace-nowrap">

            <h2 class="heading text-5xl md:text-9xl uppercase mr-4 md:mr-8 ">
              work
            </h2>
     
      </div>
      
    </div>
  </div>
  {allProjects.map((project) => <Card entry={project} />)}
</section>


