---

---

<section id="Services" class="container mx-auto mb-28 p-6">
    <h2 class="heading text-5xl md:text-9xl uppercase">Services</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 items-center md:p-0 gap-8">
        <div
            class="w-full aspect-[668/516] md:max-w-[668px] overflow-hidden rounded-3xl"
        >
            <img
                src="/spiral-heatmap.jpg"
                alt="About Me Image"
                class="w-full h-full object-cover"
            />
        </div>

        <div class="text-lg md:text-2xl text-secondary space-y-4">
            <p>
                I have experience of delivering online, print and
                application-based data visualisations and infographics. Along
                side data visualisation, I can deliver business analysis for all
                strategic, business-improvement and system transformation
                projects.
            </p>
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-1 items-center md:p-0">
        <h3 class="heading text-2xl uppercase my-8 text-secondary">
            Dashboards
        </h3>
        <p>
            I make dashboards, using the applications you already use within
            your company, such as Tableau, Qlik or Power BI.
        </p>

        <p>
            I can take you beyond the system’s defaults and apply best practice
            to how your charts are designed so that your audiences can get the
            insights they need quickly and correctly.
        </p>

        <h3 class="heading text-2xl uppercase my-8 text-secondary">
            Print-ready reports and handouts
        </h3>

        <p>
            I make print-ready visualistions, for your annual reports, posters
            or handouts.
        </p>

        <p>
            I can work with your company’s branding, style guides and template,
            and produce compelling and informative visualisations to strengthen
            your messages and insights.
        </p>

        <h3 class="heading text-2xl uppercase my-8 text-secondary">
            Interactive online visualisations
        </h3>

        <p>
            I make online visualisations and maps, so that your customers can
            interact with and explore your data and analysis.
        </p>

        <p>
            The visualisations I build are web-standards based, and meet
            accessibility and responsive needs. For online tools and websites, I
            primarilty work JavaScript, along with D3.js, ChartJS, Highcharts,
            Mapbox and php, and can also integrate with your tools and
            libraries.
        </p>

        <h3 class="heading text-2xl uppercase my-8 text-secondary">
            Advice and training
        </h3>

        <p>
            I can help your team improve the data presentation skills, either
            within their existing applications or learning more wider data
            visualisation best practice and theory. I can work with you to
            tailor the best mix workshops, mentoring or one-to-one for you and
            your company. This training can be focussed on a particular
            deliverable, such helping your staff deliver a new online portal, or
            it take a more wider, personal development perspective.
        </p>

        <h3 class="heading text-2xl uppercase my-8 text-secondary">
            Business and process analysis
        </h3>

        I can apply my wealth of buiness analysis experience to your data
        practices. I can work with your staff and customers to identify
        requirements and improvements to your data processes and systems.

        <h3 class="heading text-2xl uppercase my-8 text-secondary">
            Things I don't do...
        </h3>

        <p>To save your time, these are things I don’t do:</p>
        <p>&nbsp</p>
        <p>
            <strong>Data science or in-depth statistical analysis.</strong> However I understand
            the field, and can work with your data scientist and statisticians
            to make their insights more easily accessibile to different
            audiences.
        </p>
           <p>&nbsp</p>
        <p>
            <strong>Build or develop data warehouse systems.</strong> But I can work with your
            teams to define data structures, processes and ensure that the
            dashboards and reports built on your BI systems are easy to use and
            provide what people need.
        </p>
    </div>
</section>
