---
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import { PROJECTS } from "@consts";

const allProjects: CollectionEntry<"projects">[] =
  await getCollection("projects");
---

<Layout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <section id="Projects" class="container mx-auto px-6 pt-18">
    <h2 class="heading text-5xl md:text-9xl uppercase mr-4 md:mr-8 my-8">
      work
    </h2>
    <p class="text-2xl text-secondary">
      {PROJECTS.DESCRIPTION}
    </p>
    <p class="text-2xl text-secondary">
      &nbsp
    </p>
    {allProjects.map((project) => <Card entry={project} />)}
  </section>
</Layout>
